$color__back: #252224;
$color__back--high: lighten($color__back, 20%);
$color__text: #fff;
$color__text--low: darken($color__text, 50%);
$color__primary: #5dceee;
$color__primary--low: darken($color__primary, 20%);

$checkbox__size: 20px;
$switch__size: $checkbox__size;

$checkbox__border__size: 2px;
$checkbox__border__color: $color__primary;
$checkbox__border__color--disabled: $color__back--high;

$checkbox__checkmark__size: $checkbox__size - (2 * $checkbox__border__size);
$checkbox__checkmark__size--indeterminate: 2px;
$checkbox__checkmark__color: $color__primary;
$checkbox__checkmark__color--disabled: $color__back--high;

$checkbox__label__color: $color__text;
$checkbox__label__color--disabled: $color__text--low;

$color__navbar: #2196f3;
