//@import "partials/superstylin";

@import "partials/variables";

@import "partials/animations";
@import "partials/checkboxes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  text-decoration-skip-ink: "auto";
}

blockquote {
  border-left: 0.25rem solid #f6f6f6;
  padding: 0 1rem;
  margin-bottom: 1.563rem;
}

.App {
  padding-bottom: 40px;
}

#NavBar {
  nav {
    padding: 8px;
    position: relative;
  }
  span {
    color: transparent;
  }
  span.mover {
    display: inline-block;
    position: absolute;
    top: 1px;
    padding: 8px;
    color: $color__navbar;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 15px;
    margin-right: 4px;
    background: $color__text;
    &.animateRight {
      color: white;
      animation: expand-right 0.2s ease-out forwards;
    }
    &.animateLeft {
      color: white;
      animation: expand-left 0.2s ease-out forwards;
    }
  }
  a {
    color: $color__text;
    margin-left: 25px;
    padding-bottom: 8px;
    transform: translateY(-2px);
    display: inline-block;
    //width: 200px;
    margin-right: 40px;

    &[aria-current] {
      color: $color__text;
      text-decoration: underline;
      & span {
        background: $color__text;
      }
    }
  }
}
.instruction {
  summary {
    font-size: 1.4em;
    outline: 0;
    margin-bottom: 40px;
    color: $color__primary;
    cursor: pointer;
  }
  li {
    line-height: 1.5em;
    margin-left: 1em;
    list-style-position: inside;
  }
}
pre code {
  font-family: "Courier New", Courier, monospace;
  background: $color__back--high;
  display: block;
  margin: 8px;
  padding: 8px;
  overflow: auto;
}
button {
  background: $color__primary;
  margin-top: $checkbox__size;
  color: $color__text;
  padding: 8px;
  border: $checkbox__border__color;
  border-radius: $checkbox__checkmark__size;
  transition: all 0.2s;
  &:hover {
    background: $color__primary--low;
    cursor: pointer;
  }
  &:disabled {
    background: $color__back--high;
    cursor: default;
  }
}
#Step1 p {
  margin-left: $checkbox__size * 3;
  color: $color__text--low;
}
#NavBar {
  h1 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }
}

// MAIN
html {
  font-size: 16px;
}

body {
  background: $color__back;
  color: $color__text;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  span {
    display: block;
    color: $color__primary;
  }
}

.content {
  margin: 2rem;
}
