$color__back: #252224;
$color__back--high: lighten($color__back, 20%);
$color__text: #fff;
$color__text--low: darken($color__text, 50%);
$color__primary: #5dceee;
$color__primary--low: darken($color__primary, 20%);

$checkbox__size: 20px;
$switch__size: $checkbox__size;

$checkbox__border__size: 2px;
$checkbox__border__color: $color__primary;
$checkbox__border__color--disabled: $color__back--high;

$checkbox__checkmark__size: $checkbox__size - (2 * $checkbox__border__size);
$checkbox__checkmark__size--indeterminate: 2px;
$checkbox__checkmark__color: $color__primary;
$checkbox__checkmark__color--disabled: $color__back--high;

$checkbox__label__color: $color__text;
$checkbox__label__color--disabled: $color__text--low;

$color__navbar: #2196f3;
.App {
  padding-bottom: 40px;
}
:root {
  --width: 0px;
  --translateX: 0px;
}
@keyframes expand-right {
  40% {
    width: var(--width);
  }
  60% {
    width: var(--width);
    transform: translateX(0px);
  }

  100% {
    width: 30px;
    transform: translateX(var(--translateX));
  }
}

@keyframes expand-left {
  40% {
    width: var(--width);
    transform: translateX(var(--translateX));
  }
  60% {
    width: var(--width);
    transform: translateX(var(--translateX));
  }
  100% {
    width: 30px;
    transform: translateX(var(--translateX));
  }
}
#NavBar {
  nav {
    padding: 8px;
    position: relative;
  }
  span {
    color: transparent;
  }
  span.mover {
    display: inline-block;
    position: absolute;
    top: 1px;

    padding: 8px;
    color: $color__navbar;

    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 15px;
    margin-right: 4px;
    background: $color__text;
    &.animateRight {
      color: white;
      animation: expand-right 0.8s ease-out forwards;
    }
    &.animateLeft {
      color: white;
      animation: expand-left 0.8s ease-out forwards;
    }
  }
  a {
    color: $color__text--low;
    margin-left: 40px;
    display: inline-block;
    width: 200px;

    &[aria-current] {
      color: $color__text;
      & span {
        background: $color__text;
      }
    }
  }
}
.instruction {
  summary {
    font-size: 1.4em;
    outline: 0;
    margin-bottom: 40px;
  }
  li {
    line-height: 1.5em;
    margin-left: 1em;
    list-style-position: inside;
  }
}
pre code {
  font-family: "Courier New", Courier, monospace;
  background: $color__back--high;
  display: block;
  margin: 8px;
  padding: 8px;
  overflow: auto;
}
button {
  background: $color__primary;
  margin-top: $checkbox__size;
  color: $color__text;
  padding: 8px;
  border: $checkbox__border__color;
  border-radius: $checkbox__checkmark__size;
  transition: all 0.2s;
  &:hover {
    background: $color__primary--low;
    cursor: pointer;
  }
  &:disabled {
    background: $color__back--high;
    cursor: default;
  }
}
#Step1 p {
  margin-left: $checkbox__size * 3;
  color: $color__text--low;
}
#NavBar {
  h1 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }
}
// RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// MAIN
html {
  font-size: 16px;
}

body {
  background: $color__back;
  color: $color__text;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  span {
    display: block;
    color: $color__primary;
  }
}

.content {
  margin: 2rem;
}

// CHECKBOXES

.m-checkbox {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &__label {
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    color: $checkbox__label__color;
    cursor: pointer;
  }

  &__input {
    position: relative;
    flex-shrink: 0;
    width: $checkbox__size;
    height: $checkbox__size;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; // TODO: manage :focus
    background: $color__back;
    cursor: pointer;
    border: $checkbox__border__size solid $checkbox__border__color;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      transition: all 0.1s;
      background: $checkbox__checkmark__color;
    }

    &:checked,
    &:indeterminate {
      &::before {
        top: $checkbox__border__size;
        right: $checkbox__border__size;
        bottom: $checkbox__border__size;
        left: $checkbox__border__size;
      }
    }

    &:indeterminate {
      &::before {
        top: ($checkbox__checkmark__size / 2) -
          ($checkbox__checkmark__size--indeterminate / 2);
        bottom: ($checkbox__checkmark__size / 2) -
          ($checkbox__checkmark__size--indeterminate / 2);
      }
    }

    &:disabled {
      border-color: $checkbox__border__color--disabled;
      cursor: default;

      &::before {
        background-color: $checkbox__checkmark__color--disabled;
      }

      + .m-checkbox__label {
        color: $checkbox__label__color--disabled;
        cursor: default;
      }
    }
  }

  &--has-error {
    &__input {
      border-color: red;
      background-color: rgba(red, 0.2);

      &::before {
        background-color: red;
      }
    }
  }

  &--switch {
    &__input {
      width: (2 * $switch__size) - (2 * $checkbox__border__size);
      height: $switch__size;
      border: $checkbox__border__size solid $checkbox__border__color--disabled;
      border-radius: $checkbox__checkmark__size;

      &::before {
        top: $checkbox__border__size;
        right: $switch__size - $checkbox__border__size;
        bottom: $checkbox__border__size;
        left: $checkbox__border__size;
        border-radius: 50%;
        background: $checkbox__checkmark__color--disabled;
      }

      &:checked {
        border-color: $checkbox__border__color;

        &::before {
          right: $checkbox__border__size;
          left: $switch__size - $checkbox__border__size;
          background: $checkbox__border__color;
        }
      }
    }
  }
}
